<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Alunos</title>
  <link rel="stylesheet" media="screen" type="text/css" title="style" href="../../public/css/estilo.css" />
</head>

<body>

  <body>

    <header id="header">
      <br>
      <h1>Desenvolvimento de Aplicações WEB 1</h1>
    </header>

    <nav id="menu">
      <ul>
        <li> <a href="/">Home</a> </li>
        <li> <a href="/eu">Eu</a></li>
        <li> <a href="/aluno">Alunos</a></li>
        <li> <a href="/duvida">Duvidas</a></li>
      </ul>
    </nav>

    <Div id="meio">

      <div id="conteudo">

        <div id="l">
          <h1>Lista de Alunos</h1>
        </div>
        <br>
        <table id="lista">
          <tr>
            <th>Nome</th>
            <th>Email</th>
          </tr>

        </table>


      </div>

    </Div>



    <footer id="rodape">
      Mario Augusto Oliveira Souto
      <p id="recebeData"> </p>
    </footer>

    <script type="text/javascript" src="../../public/javascript/aluno.js"> </script>
    <script type="text/javascript" src="../../public/javascript/data.js"></script>

  </body>

</html>