<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="screen" type="text/css" title="style" href="../../public/css/estilo.css" />
    <title>Duvida</title>
</head>

<body>


    <header id="header">
        <br>
        <h1>Desenvolvimento de Aplicações WEB 1</h1>
    </header>

    <nav id="menu">
        <ul>
            <li> <a href="/">Home</a> </li>
            <li> <a href="/eu">Eu</a></li>
            <li> <a href="/aluno">Alunos</a></li>
            <li> <a href="/duvida">Duvidas</a></li>
        </ul>
    </nav>

    <div id="area">
        <form method="GET" action="/confirmacao">
            <fieldset>
                <legend>Formulário</legend>
                <label>Email</label>
                <input type="email" id="campo_email" name="email" placeholder="exemplo@exemplo.com">
                <br> <br>

                <label for="ass">Mensagem:</label>
                <textarea id="campo_msg" name="msg" cols="35" rows="8"></textarea>
                <br><br>


                <button type="submit">Enviar
            </fieldset>
        </form>
        </div>


    <footer id="rodape">
        Mario Augusto Oliveira Souto
        <p id="recebeData"> </p>
    </footer>


    <script type="text/javascript" src="../../public/javascript/data.js"></script>
  


</body>

</html>