<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="screen" type="text/css" title="style" href="../../public/css/estilo.css" />
    <title>Eu</title>
    
</head>
<body>

    <header id="header">
        <br>
        <h1>Desenvolvimento de Aplicações WEB 1</h1>
    </header>

    <nav id="menu">
        <ul>
            <li> <a href="/">Home</a> </li>
            <li> <a href="/eu">Eu</a></li>
            <li> <a href="/aluno">Alunos</a></li>
            <li> <a href="/duvida">Duvidas</a></li>
        </ul>
    </nav>

    <Div id="meio">
        <div id="imagem">
            <img src="../../public/imagens/eu.jpg" id="imagem2">
        </div>


        <div id="conteudo">

            <br>
            <h2> Mario Augusto Oliveira Souto </h2> <br> <br>
                <h3>Dados</h3>
                    Nascimento: 28/04/1998 <br>
                    Sexo: Masculino <br>
                    Natural: Uberaba/MG <br> 
                
                <h3>Um pouco sobre mim</h3> 
                Pessoa extrovertida, atenciosa e calma. Faço parte da A.A.A IFTM na função de presidente desde o ano de 2018.
                
              
                <h3>Experiências Profissionais</h3> 
                Fui responsável pelo desenvolvimento de um sistema de controle de estoque e vendas na empresa equilab no ano de 2019. Minha linguagem dominante é o Java.

            

           

        </div>

    </Div>



    <footer id="rodape">
        Mario Augusto Oliveira Souto
        <p id="recebeData"> </p>
    </footer>

    <script type="text/javascript" src="../../public/javascript/data.js"></script>
    
</body>
</html>