<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="screen" type="text/css" title="style" href="../../public/css/estilo.css" />
    <title>Index</title>


</head>

<body>

    <header id="header">
        <br>
        <h1>Desenvolvimento de Aplicações WEB 1</h1>
    </header>

    <nav id="menu">
        <ul>
            <li> <a href="/">Home</a> </li>
            <li> <a href="/eu">Eu</a></li>
            <li> <a href="/aluno">Alunos</a></li>
            <li> <a href="/duvida">Duvidas</a></li>
        </ul>
    </nav>

    <Div id="meio">
        <div id="imagem">
            <img src="../../public/imagens/imagem.jpg">
        </div>


        <div id="conteudo">

            <br>
            <p>A internet se tornou parte do dia a dia de qualquer empresa devido a algumas características como
                simplicidade aos usuários, facilidade de utilização, e informações atualizadas e que não dependem de um
                ambiente específico para funcionar.</p>

            <p>O ponto-chave das aplicações web é que elas são executadas no navegador do usuário, ou seja, não é
                necessário
                instalar no computador. Outra definição de uma aplicação web é: tudo aquilo que é processado em algum
                servidor.</p>
            <br>
            <p> Para saber mais sobre o assunto.Clique<a href="https://cutt.ly/XgkNNGx"> aqui!</a></p>

        </div>

    </Div>



    <footer id="rodape">
        Mario Augusto Oliveira Souto
        <p id="recebeData"> </p>
    </footer>


    <script type="text/javascript" src="../../public/javascript/data.js"></script>

</body>

</html>